---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.1
  name: nodeconfigs.device.theriseunion.io
spec:
  group: device.theriseunion.io
  names:
    kind: NodeConfig
    listKind: NodeConfigList
    plural: nodeconfigs
    singular: nodeconfig
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - description: Device plugin name
      jsonPath: .spec.manufacturerSpec[0].devicePlugin
      name: DevicePlugin
      type: string
    - description: Compute template name
      jsonPath: .spec.manufacturerSpec[0].computeTemplate
      name: ComputeTemplate
      type: string
    - description: Device plugin status
      jsonPath: .status.manufacturerStatus[0].devicePlgingRuntime.devicePluginStatus
      name: DevicePluginStatus
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: |-
          NodeConfig is the Schema for the nodeconfigs API
          NodeConfig是比Node更大的一个概念，不仅仅是一个Node，而是关于这个节点所有相关信息的一个聚合体
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: NodeConfigSpec defines the desired state of NodeConfig
            properties:
              manufacturerSpec:
                description: ManufacturerSpecs is the list of manufacturer-specific
                  device configurations
                items:
                  properties:
                    computeTemplate:
                      description: ComputeTemplate is the name of the compute template
                        to use for this device plugin
                      type: string
                    deviceComputeTemplate:
                      items:
                        properties:
                          computeTemplate:
                            type: string
                          name:
                            type: string
                        type: object
                      type: array
                    devicePlugin:
                      description: DevicePlugin is the name of the device plugin
                      type: string
                    disabledDevices:
                      items:
                        type: string
                      type: array
                  type: object
                type: array
            type: object
          status:
            description: NodeConfigStatus defines the observed state of NodeConfig
            properties:
              manufacturerStatus:
                description: ManufactureStatuses is the status of each manufacturer
                items:
                  properties:
                    devicePlgingRuntime:
                      properties:
                        computeTemplate:
                          properties:
                            computeSplitMode:
                              default: soft
                              description: ComputeSplitMode defines the compute split
                                mode (e.g., hard means mig, soft means hami-core)
                              enum:
                              - hard
                              - soft
                              type: string
                            computeSplitStrategy:
                              description: ComputeSplitStrategy 算力切分策略，不同的切分模式可能有不同的的切分策略
                              type: string
                            description:
                              description: Description is the description of the compute
                                template.
                              type: string
                            deviceCoreScaling:
                              default: "1.0"
                              description: |-
                                DeviceCoreScaling defines the device core scaling factor (e.g., 2 means 2x)。 浮点数在CRD中被认为是危险类型，因此这里使用字符串表示。
                                Must be a positive number in string format (e.g., "1.5", "2.0")
                              pattern: ^[0-9]+(\.[0-9]+)?$
                              type: string
                            deviceMemoryScaling:
                              default: "1.0"
                              description: |-
                                DeviceMemoryScaling defines the device memory scaling factor (e.g., 2 means 2x)。 浮点数在CRD中被认为是危险类型，因此这里使用字符串表示。
                                Must be a positive number in string format (e.g., "1.5", "2.0")
                              pattern: ^[0-9]+(\.[0-9]+)?$
                              type: string
                            deviceSplitCount:
                              default: 10
                              description: |-
                                DeviceSplitCount defines the number of device splits (e.g., 2 means split into 2 devices)
                                需要和切分模式联动
                              maximum: 20
                              minimum: 1
                              type: integer
                            manufacturer:
                              description: Manufacturer is the manufacturer of the
                                compute template.
                              type: string
                            model:
                              description: |-
                                Model is the model of the compute template.
                                如果存在theriseunion.io/model-scope: "all"标签，那么表示该模板适用于当前厂商的所有型号的显卡
                              type: string
                          required:
                          - manufacturer
                          - model
                          type: object
                        devicePluginStatus:
                          description: DevicePluginStatus is the status of the device
                            plugin (init, running, error)
                          type: string
                        driverVersion:
                          description: DriverVersion is the version of the device
                            driver
                          type: string
                        toolkitVersion:
                          description: ToolkitVersion is the version of the device
                            toolkit
                          type: string
                      type: object
                    devicePluginMeta:
                      properties:
                        commonWord:
                          type: string
                        deviceModelAnnotation:
                          type: string
                        manufacturer:
                          type: string
                        name:
                          type: string
                        resourceCoreName:
                          type: string
                        resourceMemoryName:
                          type: string
                        resourceName:
                          type: string
                        scheduler:
                          type: string
                        supportDeviceLevelSchedule:
                          description: 是否支持设备级别调度，若为false，则只能以节点级别调度
                          type: boolean
                        supportVirtualMetrics:
                          type: boolean
                      required:
                      - commonWord
                      - deviceModelAnnotation
                      - manufacturer
                      - name
                      - resourceCoreName
                      - resourceMemoryName
                      - resourceName
                      - scheduler
                      - supportDeviceLevelSchedule
                      - supportVirtualMetrics
                      type: object
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
