---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.1
  name: resourcepools.device.theriseunion.io
spec:
  group: device.theriseunion.io
  names:
    kind: ResourcePool
    listKind: ResourcePoolList
    plural: resourcepools
    singular: resourcepool
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - description: The name of the scheduler
      jsonPath: .spec.scheduler
      name: Scheduler
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ResourcePool is the Schema for the resourcepools API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: ResourcePoolSpec defines the desired state of ResourcePool
            properties:
              scheduler:
                default: hami
                description: Scheduler is the name of the scheduler to use for this
                  resource pool.
                type: string
            type: object
          status:
            description: ResourcePoolStatus defines the observed state of ResourcePool
            properties:
              allocated:
                properties:
                  core:
                    format: int32
                    type: integer
                  count:
                    format: int32
                    type: integer
                  memory:
                    format: int32
                    type: integer
                  splitCount:
                    format: int32
                    type: integer
                required:
                - core
                - count
                - memory
                - splitCount
                type: object
              capacity:
                properties:
                  core:
                    format: int32
                    type: integer
                  count:
                    format: int32
                    type: integer
                  memory:
                    format: int32
                    type: integer
                  splitCount:
                    format: int32
                    type: integer
                required:
                - core
                - count
                - memory
                - splitCount
                type: object
              items:
                items:
                  properties:
                    name:
                      type: string
                    scope:
                      type: string
                  required:
                  - name
                  - scope
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
