---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.1
  name: clusterrepositories.registry.theriseunion.io
spec:
  group: registry.theriseunion.io
  names:
    kind: ClusterRepository
    listKind: ClusterRepositoryList
    plural: clusterrepositories
    singular: clusterrepository
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - description: The name of the registry
      jsonPath: .spec.registryName
      name: RegistryName
      type: string
    - description: The name of the repository
      jsonPath: .spec.repositoryName
      name: RepositoryName
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ClusterRepository is the Schema for the clusterrepositories API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              registryName:
                type: string
              repositoryName:
                type: string
            type: object
          status:
            description: ClusterRepositoryStatus defines the observed state of ClusterRepository
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
