apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudcore
  namespace: {{ include "kubeedge.namespace" . }}
  labels:
    {{- include "kubeedge.cloudcore.labels" . | nindent 4 }}
data:
  cloudcore.yaml: |
    apiVersion: cloudcore.config.kubeedge.io/v1alpha2
    kind: CloudCore
    featureGates:
      requireAuthorization: {{ .Values.featureGates.requireAuthorization }}
    kubeAPIConfig:
      kubeConfig: {{ .Values.kubeAPIConfig.kubeConfig | quote }}
      master: {{ .Values.kubeAPIConfig.master | quote }}
    modules:
      cloudHub:
        advertiseAddress:
        {{- range .Values.cloudHub.advertiseAddress }}
        - {{ . }}
        {{- end }}
        dnsNames:
        {{- range .Values.cloudHub.dnsNames }}
        - {{ . }}
        {{- end }}
        nodeLimit: {{ .Values.cloudHub.nodeLimit }}
        tlsCAFile: /etc/kubeedge/ca/rootCA.crt
        tlsCertFile: /etc/kubeedge/certs/edge.crt
        tlsPrivateKeyFile: /etc/kubeedge/certs/edge.key
        unixsocket:
          address: {{ .Values.cloudHub.unixsocket.address }}
          enable: {{ .Values.cloudHub.unixsocket.enable }}
        websocket:
          address: {{ .Values.cloudHub.websocket.address }}
          enable: {{ .Values.cloudHub.websocket.enable }}
          port: {{ .Values.cloudHub.websocket.port }}
        quic:
          address: {{ .Values.cloudHub.quic.address }}
          enable: {{ .Values.cloudHub.quic.enable }}
          maxIncomingStreams: {{ .Values.cloudHub.quic.maxIncomingStreams }}
          port: {{ .Values.cloudHub.quic.port }}
        https:
          address: {{ .Values.cloudHub.https.address }}
          enable: {{ .Values.cloudHub.https.enable }}
          port: {{ .Values.cloudHub.https.port }}
      cloudStream:
        enable: {{ .Values.cloudStream.enable }}
        streamPort: {{ .Values.cloudStream.streamPort }}
        tunnelPort: {{ .Values.cloudStream.tunnelPort }}
      dynamicController:
        enable: {{ .Values.modules.dynamicController.enable }}
      router:
        enable: {{ .Values.modules.router.enable }}
      iptablesManager:
        enable: {{ .Values.modules.iptablesManager.enable }}
        mode: {{ .Values.modules.iptablesManager.mode }}
      taskManager:
        enable: {{ .Values.modules.taskManager.enable }}
