{{- if .Values.enabled }}
{{- $fullName := include "controller.fullname" . -}}
{{- $serviceAccountName := include "controller.serviceAccountName" . -}}
{{- if .Values.createNamespace }}
---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ include "controller.namespace" . }}
  labels:
    {{- include "controller.labels" . | nindent 4 }}
    app.kubernetes.io/component: manager
    app.kubernetes.io/name: namespace
    control-plane: controller-manager
{{- end }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $fullName }}-manager
  namespace: {{ include "controller.namespace" . }}
  labels:
    {{- include "controller.labels" . | nindent 4 }}
    app.kubernetes.io/component: manager
    app.kubernetes.io/name: deployment
    control-plane: controller-manager
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "controller.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "controller.selectorLabels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ $serviceAccountName }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: manager
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            {{- toYaml .Values.args | nindent 12 }}
          env:
            {{- toYaml .Values.env | nindent 12 }}
            {{- if .Values.extraEnv }}
            {{- toYaml .Values.extraEnv | nindent 12 }}
            {{- end }}
          ports:
            - name: webhook-server
              containerPort: {{ .Values.webhook.port }}
              protocol: TCP
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          volumeMounts:
            # - name: cert
            #   mountPath: /tmp/k8s-webhook-server/serving-certs
            #   readOnly: true
            - name: config
              mountPath: /etc/edge/config
              readOnly: true
        {{- if .Values.kubeRbacProxy.enabled }}
        - name: kube-rbac-proxy
          image: "{{ .Values.kubeRbacProxy.image.repository }}:{{ .Values.kubeRbacProxy.image.tag }}"
          imagePullPolicy: {{ .Values.kubeRbacProxy.image.pullPolicy }}
          args:
            {{- toYaml .Values.kubeRbacProxy.args | nindent 12 }}
          ports:
            - name: https
              containerPort: {{ .Values.kubeRbacProxy.port }}
              protocol: TCP
          resources:
            {{- toYaml .Values.kubeRbacProxy.resources | nindent 12 }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
      volumes:
        # - name: cert
        #   secret:
        #     secretName: {{ .Values.webhook.certSecretName }}
        #     defaultMode: 420
        - name: config
          configMap:
            name: {{ include "controller.fullname" . }}-config
{{- end }}
