{{- if and .Values.enabled .Values.webhook.enabled .Values.webhook.cert.create }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "controller.webhook.certSecretName" . }}
  namespace: {{ include "controller.namespace" . }}
  labels:
    {{- include "controller.labels" . | nindent 4 }}
    app.kubernetes.io/component: webhook-certificate
    app.kubernetes.io/name: secret
  annotations:
    "helm.sh/hook": "pre-install,pre-upgrade"
    "helm.sh/hook-delete-policy": "before-hook-creation"
type: Opaque
data:
{{ ( include "controller.webhook.genCerts" . ) | indent 2 }}
{{- end }}

