{{- if and .Values.enabled .Values.webhook.enabled .Values.webhook.cert.create }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "controller.fullname" . }}-webhook-patch
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation
  labels:
    {{- include "controller.labels" . | nindent 4 }}
    app.kubernetes.io/component: webhook-patch
rules:
  - apiGroups:
      - admissionregistration.k8s.io
    resources:
      - mutatingwebhookconfigurations
    verbs:
      - get
      - update
{{- end }}

