apiVersion: installer.theriseunion.io/v1alpha1
kind: Component
metadata:
  name: edge-apiserver
spec:
  componentType: apiserver
  namespace: edge-system
  releaseName: apiserver
  chartPath: /Users/neov/src/github.com/edgekeel/apiserver/edge-installer/edge-apiserver
  values:
    replicaCount: 1
    fullnameOverride: "apiserver"
    image:
      repository: quanzhenglong.com/edge/apiserver
      pullPolicy: IfNotPresent
      tag: "main"
    serviceAccount:
      create: true
      automount: true
    service:
      type: ClusterIP
      port: 8080
      targetPort: 8080
    resources:
      limits:
        cpu: 500m
        memory: 512Mi
      requests:
        cpu: 100m
        memory: 128Mi
    edge:
      apiserver:
        logLevel: info
        port: 8080
      rbac:
        installPlatformRoles: true
        clusterAdmin: true
      cluster:
        name: "host"
        enabled: true
        provider: "Kubernetes"
        joinFederation: false
        externalKubeAPIEnabled: false
        connection:
          type: "direct"
          kubernetesAPIEndpoint: "https://kubernetes.default.svc:443"
      defaultAdmin:
        enabled: true
        username: "admin"
        displayName: "Platform Administrator"
        email: "admin@theriseunion.com"
        lang: "zh-CN"
      monitoring:
        enabled: true
        serviceEndpoint: "http://monitoring-service.observability-system.svc.cluster.local:80"
      oauth:
        enabled: true
        clients:
          - clientId: "edge-console"
            clientSecret: "edge-secret"
          - clientId: "test-client"
            clientSecret: "test-secret"
          - clientId: "kubectl"
            clientSecret: "kubectl-secret"
          - clientId: "default-client"
            clientSecret: "default-secret"
