apiVersion: v1
kind: Service
metadata:
  name: {{ include "edge-console.fullname" . }}
  labels:
    {{- include "edge-console.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: http
      protocol: TCP
      port: {{ .Values.service.port }}
      targetPort: http
      {{- if eq .Values.service.type "NodePort" }}
      nodePort: {{ .Values.service.nodePort }}
      {{- end }}
  selector:
    {{- include "edge-console.selectorLabels" . | nindent 4 }}
