apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "edge-apiserver.fullname" . }}
  labels:
    {{- include "edge-apiserver.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "edge-apiserver.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "edge-apiserver.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "edge-apiserver.serviceAccountName" . }}
      {{- if .Values.hostNetwork }}
      hostNetwork: {{ .Values.hostNetwork }}
      dnsPolicy: {{ .Values.dnsPolicy | default "ClusterFirstWithHostNet" }}
      {{- end }}
      securityContext:
        runAsNonRoot: {{ .Values.securityContext.runAsNonRoot }}
        runAsUser: {{ .Values.securityContext.runAsUser }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
          - --config=/etc/edge/apiserver.yaml
          - --authorization-mode=RBAC
          - --v=4
          ports:
            - name: https
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          env:
            - name: LOG_LEVEL
              value: {{ .Values.edge.apiserver.logLevel }}
            - name: PORT
              value: "{{ .Values.edge.apiserver.port }}"
            {{- if .Values.edge.monitoring.enabled }}
            - name: MONITORING_SERVICE_ENDPOINT
              value: {{ .Values.edge.monitoring.serviceEndpoint }}
            {{- end }}
          livenessProbe:
            httpGet:
              path: /livez
              port: https
              scheme: HTTPS
            initialDelaySeconds: 30
            periodSeconds: 30
            timeoutSeconds: 5
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: /readyz
              port: https
              scheme: HTTPS
            initialDelaySeconds: 15
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
          - mountPath: /tmp/k8s-webhook-server/serving-certs
            name: cert
            readOnly: true
          {{- if .Values.edge.apiserver.config.enabled }}
          - mountPath: /etc/edge
            name: apiserver-config
            readOnly: true
          {{- end }}
      volumes:
      - name: cert
        secret:
          secretName: edge-apiserver-cert
      {{- if .Values.edge.apiserver.config.enabled }}
      - name: apiserver-config
        configMap:
          name: {{ include "edge-apiserver.fullname" . }}-config
      {{- end }}