{{- if .Values.devices.iluvatar.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "hami-vgpu.device-plugin" . }}-iluvatar
  namespace: {{ .Release.Namespace | quote }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "hami-vgpu.device-plugin" . }}-iluvatar
subjects:
  - kind: ServiceAccount
    name: {{ include "hami-vgpu.device-plugin" . }}-iluvatar
    namespace: {{ .Release.Namespace | quote }}
roleRef:
  kind: ClusterRole
  name: cluster-admin
  apiGroup: rbac.authorization.k8s.io
{{- end }}