{{- if and .Values.global.enabled .Values.prometheus.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: edge-prometheus-rules
  namespace: {{ .Values.global.namespace }}
  labels:
    app: edge-prometheus
    component: prometheus-rules
data:
  recording-rules.yaml: |
{{ .Files.Get "recording-rules.yaml" | indent 4 }}
{{- end }}
