{{- if and .Values.global.enabled .Values.prometheus.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: edge-prometheus-rules
  namespace: {{ .Values.global.namespace }}
  labels:
    app: edge-prometheus
    component: prometheus-rules
    {{- with .Values.prometheus.rules.additionalLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.prometheus.rules.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  groups:
{{ .Files.Get "recording-rules.yaml" | fromYaml | get "groups" | toYaml | nindent 4 }}
{{- end }}