{{- if .Values.devices.enflame.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: nfd-master
  namespace: {{ .Release.Namespace | quote }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: nfd-master
rules:
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - patch
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: nfd-master
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: nfd-master
subjects:
- kind: ServiceAccount
  name: nfd-master
  namespace: {{ .Release.Namespace | quote }}
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  labels:
    app.kubernetes.io/name: node-feature-discovery
  name: node-feature-discovery
  namespace: {{ .Release.Namespace | quote }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: node-feature-discovery
  template:
    metadata:
      labels:
        app.kubernetes.io/name: node-feature-discovery
    spec:
      {{- with .Values.devices.enflame.nodeSelector }}
      nodeSelector:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.devices.enflame.tolerations }}
      tolerations:
      {{- toYaml . | nindent 6 }}
      {{- end }}
      serviceAccount: nfd-master
      containers:
        - env:
          - name: NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          image: {{ .Values.devices.enflame.nfdImage }}
          imagePullPolicy: {{ .Values.devices.enflame.imagePullPolicy | quote }}
          name: nfd-master
          command:
            - "nfd-master"
          args:
            - "--extra-label-ns=enflame.com" # tke.cloud.tencent.com
        - env:
          - name: NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          image: {{ .Values.devices.enflame.nfdImage }}
          imagePullPolicy: {{ .Values.devices.enflame.imagePullPolicy | quote }}
          name: nfd-worker
          command:
            - "nfd-worker"
          args:
            - "--sleep-interval=60s"
            - "--options={\"sources\": {\"pci\": { \"deviceLabelFields\": [\"vendor\"] }}}"
            ## Device Class : https://admin.pci-ids.ucw.cz/read/PD
            # - "--options={\"sources\": {\"pci\": { \"deviceLabelFields\": [\"vendor\"], \"deviceClassWhiteList\": [\"02\", \"03\", \"0b40\", \"12\"] }}}"
          volumeMounts:
            - name: host-boot
              mountPath: "/host-boot"
              readOnly: true
            - name: host-os-release
              mountPath: "/host-etc/os-release"
              readOnly: true
            - name: host-sys
              mountPath: "/host-sys"
            - name: source-d
              mountPath: "/etc/kubernetes/node-feature-discovery/source.d/"
            - name: features-d
              mountPath: "/etc/kubernetes/node-feature-discovery/features.d/"
      volumes:
        - name: host-boot
          hostPath:
            path: "/boot"
        - name: host-os-release
          hostPath:
            path: "/etc/os-release"
        - name: host-sys
          hostPath:
            path: "/sys"
        - name: source-d
          hostPath:
            path: "/etc/kubernetes/node-feature-discovery/source.d/"
        - name: features-d
          hostPath:
            path: "/etc/kubernetes/node-feature-discovery/features.d/"
{{- end }}